<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write Blog</title>
</head>
<body>
<div>
    <div>
        <form th:action="@{/write-blog}" th:object="${blog}" method="post">
            <div>
                <p>Author:</p>
                <input type="text" th:field="*{author}">
            </div>
            <div>
                <p>Title:</p>
                <input type="text" th:field="*{title}">
            </div>
            <div>
                <p>Content:</p>
                <input type="text" th:field="*{content}">
            </div>
            <div>
               <button type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>